*.pyc
*.so
*.pyd
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store
.idea
build
spanlp/dataset/working_set.txt

venv/
dist/
MANIFEST
doc/_build/
doc/auto_examples/
doc/modules/generated/
doc/datasets/generated/
doc/min_dependency_table.rst
doc/min_dependency_substitutions.rst
*.pdf
pip-log.txt
spanlp.egg-info/
.coverage
coverage
*.py,cover
.tags*
tags
covtype.data.gz
20news-18828/
20news-18828.tar.gz
coverages.zip
samples.zip
doc/coverages.zip
doc/samples.zip
coverages
samples
doc/coverages
doc/samples
*.prof
.tox/
.coverage
pip-wheel-metadata

lfw_preprocessed/
nips2010_pdf/

*.nt.bz2
*.tar.gz
*.tgz

examples/cluster/joblib
reuters/
benchmarks/bench_covertype_data/

*.prefs
.pydevproject
.idea
.vscode

# Used by py.test
.cache
.pytest_cache/
_configtest.o.d
